
header img.img-animation:hover  {
	opacity: 0.5;
	-webkit-transform: scale(1);
	transform: scale(1);
}
header img.img-animation  {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.12);
	transform: scale(1.12);
}
.txt-indent {
    text-indent:2em;
}
.name .me {
    color: hsla(283, 31%, 11%, 0.5);
}
    